footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 152, 152);
    padding: 10px;
    text-align: center;
    width: 100%;

    bottom: 0;
}

.rodape {
    background-color: black;
}

.texto {
    color: white;
}